body {

    background-color: rgb(41, 36, 36);
    color:aliceblue;
    overflow: hidden;

        

}

@keyframes move_up_image{

    0%{
        
        height:50%; top: 50%; right: 0%;
        
    }


    50%{height: 42.5%; top: 15%;right: 0%;}

    100% {height:30%; top: 15%; right:90%;}
    
        
        

}

.bloomText {

    text-shadow:     0 0 7px #fff,0 0 10px #fff,0 0 21px #fff;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
   /* animation-name: move_up;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
        display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;*/
   
    
    
}
.bloomImage {
    position: absolute;
    display: block;
        margin-left: auto;
        margin-right: auto;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.425));
    width: auto;
    height: 50%;
        top: 50%;
            right: 0px;
            bottom: 0px;
            left: 0px;
    animation-name: move_up_image;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.mainBars {

    position: absolute;
    display: block;
  
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.425));
    width: auto;
    height: 75%;
    top: 100%;
    
    bottom: 0px;
    
    animation-name: main_bar_animation;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-fill-mode: both;
}
@keyframes main_bar_animation {

0%{

}
100%{
    top:20%;

}

}